body{
    background-color: #ffffff;;
}

.title{
    position: absolute;
    width: 164px;
    height: 42px;
    left: 229px;
    top: 20px;
    color: #22262A;
    font-size: 28px;
    line-height: 42px;
}

.home{
    color:#ffffff
    font
}